/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Global ------------------------------------------------ */
/* ---------------------------------------------------------------------------------------- */

body {
  background-color: #F6F4E8;
}

.multiLineText {
  white-space: pre-wrap;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Footer ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.footer {
  background-color: black;
}

.footer .copyright {
  color: grey;
  font-size: 0.7rem;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Home -------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.mission {
  background-color: #fff;
  padding: 50px 0;
}

/* Section for Planning Image */
.planning img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner {
  height: 400px;
  background-image: url('/banner_lpec.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  position: relative;
}

.bannerLogo {
  margin-top: 40px;
  margin-left: 40px;
  height: 50%;
  max-height: 200px;
}

.activities .carousel-control-prev-icon,
.activities .carousel-control-next-icon,
.activities .carousel-indicators [data-bs-target] {
  background-color: black;
}


/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Library ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.bookCardBottom {
  padding-top: 0;
  flex-grow: 0;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- End --------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */