/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Global ------------------------------------------------ */
/* ---------------------------------------------------------------------------------------- */

body {
  /* ajouter la propriété background-color pour définir la couleur de fond */
  background-color: #F6F4E8;
}

.multiLineText {
  white-space: pre-wrap;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Footer ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.footer {
  background-color: black;
}

.footer .copyright {
  color: grey;
  font-size: 0.7rem;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Home -------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.mission {
  background-color: #fff;
  padding: 50px 0;
}

/* Section for Planning Image */
.planning img {
  /* Assure que l'image prend toute la largeur de l'élément parent */
  width: 100%;
  /* Maintient le ratio d'aspect de l'image */
  height: auto;
  /* L'image s'adapte à l'élément parent en conservant son ratio d'aspect */
  object-fit: cover;
}

.banner {
  height: 400px;
  background-image: url('/banner_lpec.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  position: relative;
}

.bannerLogo {
  /* pour ajouter un peu de marge en haut */
  margin-top: 40px;
  /* pour ajouter un peu de marge à gauche */
  margin-left: 40px;
  /* pour que la taille du logo soit égale à 50% de la hauteur de l'image de la bannière */
  height: 50%;
  /* pour éviter que le logo ne soit trop grand (vous pouvez ajuster cette valeur en fonction de vos besoins) */
  max-height: 200px;
}

.activities .carousel-control-prev-icon,
.activities .carousel-control-next-icon,
.activities .carousel-indicators [data-bs-target] {
  background-color: black;
}


/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Library ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.bookCardBottom {
  padding-top: 0;
  flex-grow: 0;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- End --------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */