/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Global ------------------------------------------------ */
/* ---------------------------------------------------------------------------------------- */

body {
  /* ajouter la propriété background-color pour définir la couleur de fond */
  background-color: #F6F4E8;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Footer ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.footer {
  background-color: black;
}

.footer .copyright {
  color: grey;
  font-size: 0.7rem;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- Accueil ----------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.mission {
  background-color: #fff;
  padding: 50px 0;
}

/* Section for Planning Image */
.planning img {
  /* Assure que l'image prend toute la largeur de l'élément parent */
  width: 100%;
  /* Maintient le ratio d'aspect de l'image */
  height: auto;
  /* L'image s'adapte à l'élément parent en conservant son ratio d'aspect */
  object-fit: cover;
}

.width-33 {
  width: 32%;
  margin-right: .5rem;
}

.bookCardBottom {
  padding-top: 0;
  flex-grow: 0;
}