.header {
  /* pour positionner le titre de manière absolue par rapport à la page */
  position: absolute;
  /* pour laisser un peu d'espace en haut */
  top: 80px;
  /* pour centrer le titre horizontalement */
  left: 50%;
  /* pour compenser la valeur de "left" et centrer parfaitement le titre */
  transform: translateX(-50%);
  text-align: center;
  /* pour que le titre prenne toute la largeur de la page */
  width: 100%;
}

.banner {
  /* pour que les éléments enfants puissent être positionnés de manière absolue par rapport à la bannière */
  position: relative;
  text-align: left;
  color: black;
}

.banner_img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.banner_title {
  /* pour positionner le titre de manière absolue par rapport à la bannière */
  position: absolute;
  /* pour laisser un peu d'espace en haut */
  top: 20px;
  /* pour centrer le titre horizontalement */
  left: 50%;
  /* pour compenser la valeur de "left" et centrer parfaitement le titre */
  transform: translateX(-50%);
  color: black;
  margin-bottom: 20px;
  text-align: center;
  /* pour que le titre prenne toute la largeur de la bannière */
  width: 100%;
}

.logo {
  /* pour positionner le logo de manière absolue par rapport à la bannière */
  position: absolute;
  /* pour ajouter un peu de marge en haut */
  top: 40px;
  /* pour ajouter un peu de marge à gauche */
  left: 40px;
  /* pour que la taille du logo soit égale à 50% de la hauteur de l'image de la bannière */
  height: 50%;
  /* pour éviter que le logo ne soit trop grand (vous pouvez ajuster cette valeur en fonction de vos besoins) */
  max-height: 200px;
}