body.light-beige {
  background-color: #F8F5ED;
}

.nav-wrapper .brand-logo {
  font-size: 2rem;
  margin-bottom: 20px;
}

.banner-container {
  position: relative;
  text-align: center;
}

.banner-img {
  width: 80%;
}

.banner-logo {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 40%;
}

.hamburger-menu {
  position: absolute;
  top: 0%;
  right: 95%;
  color: black;
}

.mission-title {
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.mission-text {
  margin: 20px 0;
  font-size: 1.2rem;
  text-align: center;
}

.page-footer .container .row .beige-text {
  color: #f5f5dc !important;
}

.footer-buttons a {
  display: block;
  margin-bottom: 20px;
}
