body {
  background-color: #F6F4E8; /* ajouter la propriété background-color pour définir la couleur de fond */
  color: #333;
}

.header {
  position: absolute; /* pour positionner le titre de manière absolue par rapport à la page */
  top: 80px; /* pour laisser un peu d'espace en haut */
  left: 50%; /* pour centrer le titre horizontalement */
  transform: translateX(-50%); /* pour compenser la valeur de "left" et centrer parfaitement le titre */
  text-align: center;
  width: 100%; /* pour que le titre prenne toute la largeur de la page */
}


.banner {
  position: relative; /* pour que les éléments enfants puissent être positionnés de manière absolue par rapport à la bannière */
  text-align: left;
  color: black;
}

.banner-img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Adjust this value to reduce the banner image height */
}

.logo {
  position: absolute; /* pour positionner le logo de manière absolue par rapport à la bannière */
  top: 40px; /* pour ajouter un peu de marge en haut */
  left: 40px; /* pour ajouter un peu de marge à gauche */
  height: 50%; /* pour que la taille du logo soit égale à 50% de la hauteur de l'image de la bannière */
  max-height: 200px; /* pour éviter que le logo ne soit trop grand (vous pouvez ajuster cette valeur en fonction de vos besoins) */
}

.banner-title {
  position: absolute; /* pour positionner le titre de manière absolue par rapport à la bannière */
  top: 20px; /* pour laisser un peu d'espace en haut */
  left: 50%; /* pour centrer le titre horizontalement */
  transform: translateX(-50%); /* pour compenser la valeur de "left" et centrer parfaitement le titre */
  color: black;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; /* pour que le titre prenne toute la largeur de la bannière */
}

.mission {
  background-color: #fff;
  padding: 50px 0;
}

/* Section for Planning Image */
.planning img {
  width: 100%; /* Assure que l'image prend toute la largeur de l'élément parent */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  object-fit: cover; /* L'image s'adapte à l'élément parent en conservant son ratio d'aspect */
}

/* Carousel activities */
.activities .carousel-item {
  min-height: 300px; /* Hauteur minimale de l'élément .carousel-item */
}

.activities .carousel-item img {
  width: 100%; /* S'assure que l'image prend toute la largeur de l'élément parent */
  height: 400px; /* Hauteur fixe des images */
  object-fit: cover; /* L'image s'adapte à l'élément parent en conservant son ratio d'aspect */
}

.activities .carousel-control-prev-icon,
.activities .carousel-control-next-icon {
  background-color: black; /* Couleur des flèches de navigation */
}

/* Footer */
.footer {
  background-color: black;
  color: #fff;
  padding: 50px 0;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: #29b468;
}

.footer .btn-social {
  background-color: #333;
  border: none;
  color: #F6F4E8;
  font-size: 1.2rem;
  height: 40px;
  line-height: 40px;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  width: 40px;
  transition: all 0.3s ease-in-out;
}

.footer .btn-social:hover {
  background-color:#F6F4E8;
  color: #333;
}

.footer .col-md-4:last-child div {
  display: flex;
  justify-content: center;
}

.footer .col-12 {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 0.7rem;
}
