/* Carousel activities */
.activities .carousel-item {
  min-height: 300px;
  background-size: cover;
}

.activities .carousel-item-img {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 5px;
}

.activities .carousel-item-img img {
  width: 100%;
  height: 100%;
  display: inline-block;
  /* Pour éviter les espaces blancs entre les images */
  background-size: cover;
  /* Voir toute l'image dans le conteneur */
}

.activities .carousel-control-prev-icon,
.activities .carousel-control-next-icon {
  background-color: black;
}

/* Ajoute une marge à droite de chaque élément .carousel-item, sauf le dernier */
.activities .carousel-item+.carousel-item {
  margin-right: 10px;
}

/* Ajoute une marge à gauche du premier élément .carousel-item */
.activities .carousel-item:first-child {
  margin-left: 10px;
}